body{
	background:#cdffe6;
	margin:0;
}

/**********************
	  Header CSS
**********************/
header{
	text-align: center;
	margin:1%;
}

#banner{
	width:80%;
}

/*** Navigation ***/
nav{
	text-align: center;
	width:50%;
	margin:2% auto;
}
nav > ul > li{
	list-style: none;
	display:inline-block;
	margin-right:5%;
	text-align: center;
}

nav a:link{
	color:#333;
	text-decoration:none;
}

nav a:visited{
	color:#333;
	text-decoration:none;
}

/**********************
   Main Content CSS
**********************/
#mainContent{
	margin: auto;
	width:62%;
	margin-top:-5%;
	text-align: center;
}

#baby{
	width:98%;
}

/**********************
	  Footer CSS
**********************/
footer{
	width: 62%;
	margin:5% auto;
	text-align: center;
}
hr{
	width:16%;
	height:1%;
	float:left;
	background:#333;
}

.button{
	height:3em;
	width:15%;
	background: #333;
	float:left;
	margin: -1.5% 1%;
	text-align: center;
}

p{
	font-family:'Roboto';
	font-size:1em;
}

/*** Footer Navigation ***/
footer > a:link{
	color:#ccc;
	text-decoration: none;
}

footer > a:visited{
	color:#ccc;
	text-decoration: none;
}

footer > a:hover{
	color:#cdffe6;
	text-decoration: none;
}

footer > a:active{
	color:#cdffe6;
	text-decoration: none;
}

/*** Copyright Info ***/
#copyright{
	clear:both;
	margin:4%;
}











